{% extends 'base.html' %}
{% block title %} {{post.title}} {% endblock %}
{% block blog_active %} active {% endblock %}

{% block content %}

{% load humanize %}
{% load extras %}

<!-- Blog -->
<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStampt}}</p>

    <p>{{post.content|safe}}</p>
    <hr>
</div>

<!-- Blog Comments -->

<section style="background-color: #eee;">
    {% if user.is_authenticated %}
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <form action="/postComment" method="post">
                            {% csrf_token %}
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXNmx_07pTh34-nZYg7cBxq3fN3Nn05IFbW_ghFzI-gw&s"
                                    alt="avatar" width="40" height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="textAreaExample" rows="4"
                                        style="background: #fff;" name="comment"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="postSno" value="{{post.sno}}">
                            <input type="hidden" name="parentSno" value="">
                            <button type="submit" class="btn btn-primary btn-sm float-end mt-2 pt-1">Post
                                comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center">Please Login To Post a comment</p>
    {% endif %}

    <h1 class="text-center">Comments ({{comments.count}})</h1>

    {% for comment in comments %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
            <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXNmx_07pTh34-nZYg7cBxq3fN3Nn05IFbW_ghFzI-gw&s"
                    alt="avatar" width="65" height="65" />
                <div class="card w-100">
                    <div class="card-body p-4">
                        <h5>{{comment.user.username}}</h5>
                        <p class="small">{{comment.timeStamp | naturaltime}}</p>
                        <p>
                            {{comment.comment}}
                        </p>
                    </div>
                    {% if request.user == comment.user %}
                    <div class="position-relative">
                        <form action="/deleteComment" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment_sno" value="{{comment.sno}}">
                            <input type="hidden" name="blog_sno" value="{{post.sno}}">
                            <button type="submit" class="fa fa-trash position-absolute bottom-0 end-0" aria-hidden="true"></button>
                        </form>
                    </div>
                    {% else %}
                    {% if request.user.is_superuser %}
                    <div class="postion-relative">
                        <form action="/deleteComment" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment_sno" value="{{comment.sno}}">
                            <input type="hidden" name="blog_sno" value="{{post.sno}}">
                            <button type="submit" class="fa fa-trash position-absolute bottom-0 end-0" aria-hidden="true"></button>
                        </form>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="reply mx-0">
                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{comment.sno}}" aria-expanded="false"
                            aria-controls="collapse{{comment.sno}}">
                            Reply
                        </button>
                        <div class="collapse" id="collapse{{comment.sno}}">
                            {% if user.is_authenticated %}
                            <form class="d-flex flex-row add-comment-section mt-4 mb-4" method="post"
                                action="/postComment">
                                {% csrf_token %}
                                <img class="img-fluid img-responsive rounded-circle mr-2"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXNmx_07pTh34-nZYg7cBxq3fN3Nn05IFbW_ghFzI-gw&s"
                                    width="38"><input type="text" class="form-control mr-3" placeholder="Add Reply"
                                    name="comment" required>
                                <input type="hidden" name="postSno" value="{{post.sno}}">
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                <button class="btn btn-primary" type="submit">Reply</button>
                            </form>
                            {% else %}
                            <p>please login to post a reply</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="replies my-2">
                        {% for reply in replyDict|get_val:comment.sno %}
                        <div class="row my-2">
                            <div class="col-md-1">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXNmx_07pTh34-nZYg7cBxq3fN3Nn05IFbW_ghFzI-gw&s"  class="rounded mx-auto d-block w-100 p-2 border-dark">
                            </div>
                            <div class="col-md-11">
                                <b>{{reply.user.username}}</b>
                                {{reply.comment}}
                                <span class=""> - {{reply.timeStamp | naturaltime}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<style>
    .link-muted {
        color: #aaa;
    }

    .link-muted:hover {
        color: #1266f1;
    }
</style>

{% endblock %}